# Set AdminServer connection URL
ADMIN_SERVER_URL = 't3://' + 'localhost' + ':' + '{{ weblogic.adminserver_listen_port }}';

# Connect to the AdminServer
connect('{{ weblogic_admin_user }}', '{{ weblogic_admin_password }}', ADMIN_SERVER_URL);

# Start editing mode
edit();
startEdit();

# Declare the machine that hosts the Managed Server
cd('/')
cmo.createMachine('{{ ansible_fqdn }}')

# Configure the nodemanager for that machine
cd('/Machines/' + '{{ ansible_fqdn }}' + '/NodeManager/' + '{{ ansible_fqdn }}')
cmo.setListenAddress('{{ weblogic.nodemanager_listen_address }}')

# Create the Managed Server
cd('/')
cmo.createServer('{{ weblogic.managed_server_name }}')

# Setup the managed Server configurations
cd('/Servers/' + '{{ weblogic.managed_server_name }}')
cmo.setListenAddress('{{ ansible_fqdn }}')
cmo.setListenPort({{ weblogic.managed_server_listen_port }})

# Assign the Managed server to the hosting machine (create a sort of dependencie relation)
cmo.setMachine(getMBean('/Machines/' + '{{ ansible_fqdn }}'))

# Save changes
save();
activate(block='true');

# Log out from AdminServer
disconnect();
exit();
